{% extends "base.html" %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
<h1>{{ title }}</h1>

<form method="GET" action="">
    <input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}">
    <input type="Submit" value="Search">
</form>

{% for obj in objects_list %}
<div class="row">
  <div class="col-sm-12">
      <div class="thumbnail">
          {% if obj.image %}
          <img src="{{ obj.image.url }}" class="img-responsive">
          {% endif %}
          <div class="caption post-detail-item">
              {% if obj.draft %} <h3>Draft</h3> {% endif %} {% if obj.publish > today %} <h3>Future post</h3> {% endif %}
              <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3>
              {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
              {{ obj.get_markdown }}
              <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
          </div>
      </div>
  </div>
<hr/>
</div>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if objects_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ objects_list.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects_list.number }} of {{ objects_list.paginator.num_pages }}.
        </span>

        {% if objects_list.has_next %}
            <a href="?{{ page_request_var }}={{ objects_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            <!--<a href="?{{ page_request_var }}={{ objects_list.paginator.num_pages }}">last &raquo;</a>-->
        {% endif %}
    </span>
</div>

</div>
{% endblock content %}